html {
  background-color: #f2f1ed;
  font-family: Georgia, serif;
  line-height: 1.5;
}

img {
  width: 100%;
}

h1, h2 {
  font-family: "Patua One", cursive;
  color: #5d8432;
  text-transform: uppercase;
}

a {
  font-weight: bold;
  font-size: 1.125rem;
}

nav li a {
  font-family: "Patua One", cursive;
}

.header {
  font-size: 1.5rem;
}

figcaption {
  font-size: .75rem;
  font-style: italic;
  text-align: center;
}

.better-work {
  font-size: 1rem;
}

a:link {
  color: #793284;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #b42885;
}

ol {
  list-style-type: none;
}
